<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.ss.gameforkids">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".MenuGame"/>
        <activity android:name=".PuzzleGame"/>
        <activity android:name=".ListPuzzle"/>
        <activity android:name=".PuzzleAnimal1"/>
        <activity android:name=".PuzzleAnimal2"/>
        <activity android:name=".PuzzleAnimal3"/>
        <activity android:name=".PuzzleAnimal4"/>
        <activity android:name=".PuzzleAnimal5"/>
        <activity android:name=".PuzzleAnimalFinal"/>
        <activity android:name=".PuzzleAnimal10"/>
        <activity android:name=".PuzzleAnimal6"/>
        <activity android:name=".PuzzleAnimal7"/>
        <activity android:name=".PuzzleAnimal8"/>
        <activity android:name=".PuzzleAnimal9"/>
        <activity android:name=".PuzzleColor1"/>
        <activity android:name=".PuzzleColor2">
        </activity>
        <activity android:name=".PuzzleColor3">
        </activity>
        <activity android:name=".PuzzleColor4">
        </activity>
        <activity android:name=".PuzzleColor5">
        </activity>
        <activity android:name=".PuzzleColor6">
        </activity>
        <activity android:name=".PuzzleColor7">
        </activity>
        <activity android:name=".PuzzleColor8">
        </activity>
        <activity android:name=".PuzzleColor9">
        </activity>
        <activity android:name=".PuzzleColor10">
        </activity>
        <activity android:name=".PuzzleFood1">
        </activity>
        <activity android:name=".PuzzleBody1">
        </activity>
        <activity android:name=".PuzzleBody2">
        </activity>
        <activity android:name=".PuzzleBody3">
        </activity>
        <activity android:name=".PuzzleBody4">
        </activity>
        <activity android:name=".PuzzleBody5">
        </activity>
        <activity android:name=".PuzzleBody6">
        </activity>
        <activity android:name=".PuzzleBody7">
        </activity>
        <activity android:name=".PuzzleBody8">
        </activity>
        <activity android:name=".PuzzleBody9">
        </activity>
        <activity android:name=".PuzzleBody10">
        </activity>
        <activity android:name=".PuzzleFinal">
        </activity>
        <activity android:name=".PuzzleFood2">
        </activity>
        <activity android:name=".PuzzleFood3">
        </activity>
        <activity android:name=".PuzzleFood4">
        </activity>
        <activity android:name=".PuzzleFood6">
        </activity>
        <activity android:name=".PuzzleFood5">
        </activity>
        <activity android:name=".PuzzleFood7">
        </activity>
        <activity android:name=".PuzzleFood8">
        </activity>
        <activity android:name=".PuzzleFood9">
        </activity>
        <activity android:name=".PuzzleFood10">
        </activity>
        <activity android:name=".PuzzleOrgans1">
        </activity>
        <activity android:name=".PuzzleOrgans2">
        </activity>
        <activity android:name=".PuzzleOrgans3">
        </activity>
        <activity android:name=".PuzzleOrgans4">
        </activity>
        <activity android:name=".PuzzleOrgans5">
        </activity>
        <activity android:name=".PuzzleOrgans6">
        </activity>
        <activity android:name=".PuzzleOrgans7">
        </activity>
        <activity android:name=".PuzzleOrgans8">
        </activity>
        <activity android:name=".PuzzleOrgans9">
        </activity>
        <activity android:name=".PuzzleOrgans10">
        </activity>
        <activity android:name=".PuzzleKitchen1">
        </activity>
        <activity android:name=".PuzzleKitchen2">
        </activity>
        <activity android:name=".PuzzleKitchen3">
        </activity>
        <activity android:name=".PuzzleKitchen4">
        </activity>
        <activity android:name=".PuzzleKitchen5">
        </activity>
        <activity android:name=".PuzzleKitchen6">
        </activity>
        <activity android:name=".PuzzleKitchen7">
        </activity>
        <activity android:name=".PuzzleKitchen8">
        </activity>
        <activity android:name=".PuzzleKitchen9">
        </activity>
        <activity android:name=".PuzzleKitchen10">
        </activity>
        <activity android:name=".PuzzleNatural1">
        </activity>
        <activity android:name=".PuzzleNatural2">
        </activity>
        <activity android:name=".PuzzleNatural3">
        </activity>
        <activity android:name=".PuzzleNatural4">
        </activity>
        <activity android:name=".PuzzleNatural5">
        </activity>
        <activity android:name=".PuzzleNatural6">
        </activity>
        <activity android:name=".PuzzleNatural7">
        </activity>
        <activity android:name=".PuzzleNatural8">
        </activity>
        <activity android:name=".PuzzleNatural9">
        </activity>
        <activity android:name=".PuzzleNatural10">
        </activity>
        <activity android:name=".PuzzleTool1">
        </activity>
        <activity android:name=".PuzzleTool2">
        </activity>
        <activity android:name=".PuzzleTool3">
        </activity>
        <activity android:name=".PuzzleTool4">
        </activity>
        <activity android:name=".PuzzleTool5">
        </activity>
        <activity android:name=".PuzzleTool6">
        </activity>
        <activity android:name=".PuzzleTool7">
        </activity>
        <activity android:name=".PuzzleTool8">
        </activity>
        <activity android:name=".PuzzleTool9">
        </activity>
        <activity android:name=".PuzzleTool10">
        </activity>
    </application>

</manifest>